:root {
    /*Colors*/

    /*Primary*/

    --Yellow: hsl(47, 88%, 63%);

    /* Neutral*/

    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}

* {
    font-family: 'Figtree', sans-serif;
}

body {
    background-color: var(--Yellow);
}

.card {
    margin: 0 auto;
    background-color: #fff;
    border: 1.5px solid var(--Black);
    box-shadow: 8px 8px #000;
    width: 350px;
    border-radius: 20px;
    padding: 1.5em 1em;
}
.top {
    display: flex;
    justify-content: center;
}

.main-img {
    border-radius: 15px;
}

.mid {
    padding: 1em 0.5em;
}

.tag {
    background-color: var(--Yellow);
    width: 25%;
    text-align: center;
    font-weight: bold;
    padding: .5em;
    border-radius: 5px;
}
h3 {
    font-weight: 900;
}

p {
    font-size: 16px;
    color: var(--Grey);
    line-height: 24px;
}

.bottom {
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: bold;
    padding: .5em .5em;
}

.bottom img {
    width: 32px;
    height: 32px;
}
